html {
  scroll-behavior: smooth;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  margin-bottom: 7vh;
}

#class-languages{
  position: absolute;
  padding: 2vw;
  width: 10vw;
  font-size: 3vw;
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 0;
}



.banner h1 {
  margin: 0;
  color: #0152a0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 10vw;
  font-weight: bold;
}

.banner h4 {
  margin-top: -2vh;
  color: #f7a601;
}

.banner p {
  margin-top: 3vh;
  font-size: 20px;
  color: #0152a0;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 5px;
  background: white;
  border-radius: 5px;
}

.banner img {
  width: 30%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.tl-button{
  background-color: #f7a600 !important;
  border-color: #f7a600 !important;
  box-shadow: 0px 0px 34px -6px #00509f;
}

.tl-button:hover{
  background-color: #f79400 !important;
  border-color: #f79400 !important;
}

.container{
  max-width: 800px !important;
}

.gamification{
  position: sticky;
  top: 0;
  margin-bottom: 5vh;
  z-index: 1;
}

.progress{
  height: 4vh !important;
  margin-bottom: 0.1vh;
}

.progress-bar{

}

.alert-danger{
  visibility: hidden;
  opacity: 0;
  margin-top: 5px;
  transition: all 0.4s ease-out;
}

.display{
  visibility: visible;
  opacity: 1;
  transform: translateY(-5px);
}

.solution{
  margin-top: 30px;
}

.flexgif{
  width: 100%;
  box-shadow: 0px 0px 23px -10px black;
  border-radius: 5px;
}

.color{
  margin-right: -2.5px;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 5vh;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

